{
  "openapi": "3.1.0",
  "info": {
    "title": "Trakyo API",
    "version": "1.0.0",
    "description": "The Trakyo API lets you programmatically access your link analytics, tracking events, and lead data."
  },
  "servers": [
    {
      "url": "https://app.trakyo.io/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key with `tky_` prefix. Pass as: `Authorization: Bearer tky_live_...`"
      }
    },
    "schemas": {
      "ClicksResponse": {
        "type": "object",
        "required": ["total_clicks"],
        "properties": {
          "total_clicks": {
            "type": "integer",
            "description": "The number of clicks for the specified period.",
            "example": 42809
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "description": "Error response following [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457.html) (Problem Details for HTTP APIs).",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI identifying the error type. Resolves to documentation.",
            "example": "https://trakyo.io/docs/errors/not_found"
          },
          "title": {
            "type": "string",
            "description": "A short human-readable summary of the error.",
            "example": "Not found"
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code.",
            "example": 404
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation of the error.",
            "example": "No link found with key 'abc123' on domain '00000000-0000-0000-0000-000000000000' for this account."
          },
          "instance": {
            "type": "string",
            "description": "The request path that caused the error.",
            "example": "/api/v1/links/00000000-0000-0000-0000-000000000000/abc123/clicks"
          }
        }
      }
    }
  },
  "paths": {
    "/links/{domainId}/{key}/clicks": {
      "get": {
        "operationId": "getLinkClicks",
        "summary": "Get click count for a link",
        "description": "Returns the total number of clicks for a short link. Links are identified by the composite key of `domainId` + `key`. Use the sentinel domain ID `00000000-0000-0000-0000-000000000000` for links on the default Trakyo domain.",
        "tags": ["Links"],
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "description": "The short link domain ID (UUID). Use `00000000-0000-0000-0000-000000000000` for the default Trakyo domain.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "The short link key (e.g., `abc12345`).",
            "schema": {
              "type": "string",
              "example": "abc12345"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Time period for click count. `all` returns lifetime clicks, `24h` returns clicks in the last 24 hours.",
            "schema": {
              "type": "string",
              "enum": ["all", "24h"],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Click count for the link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClicksResponse"
                },
                "examples": {
                  "all-time": {
                    "summary": "All-time clicks",
                    "value": {
                      "total_clicks": 42809
                    }
                  },
                  "24h": {
                    "summary": "Last 24 hours",
                    "value": {
                      "total_clicks": 156
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://trakyo.io/docs/errors/bad_request",
                  "title": "Bad request",
                  "status": 400,
                  "detail": "Invalid period 'weekly'. Must be 'all' or '24h'."
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://trakyo.io/docs/errors/unauthorized",
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "Invalid API key."
                }
              }
            }
          },
          "404": {
            "description": "Link not found or does not belong to this account.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://trakyo.io/docs/errors/not_found",
                  "title": "Not found",
                  "status": 404,
                  "detail": "No link found with key 'abc123' on domain '00000000-0000-0000-0000-000000000000' for this account.",
                  "instance": "/api/v1/links/00000000-0000-0000-0000-000000000000/abc123/clicks"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://trakyo.io/docs/errors/rate_limited",
                  "title": "Rate limited",
                  "status": 429,
                  "detail": "Rate limit exceeded. Max 120 requests per minute."
                }
              }
            }
          }
        }
      }
    }
  }
}
