{
  "openapi": "3.1.0",
  "info": {
    "title": "Trakyo API",
    "description": "Public API for managing short links, custom domains, and click analytics.",
    "version": "1.0.0",
    "contact": {
      "name": "Trakyo",
      "url": "https://trakyo.io"
    }
  },
  "servers": [
    {
      "url": "https://api.trakyo.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (starts with tky_)"
      }
    }
  },
  "tags": [
    {
      "name": "Links",
      "description": "Short link CRUD operations"
    },
    {
      "name": "Analytics",
      "description": "Click analytics and metrics"
    },
    {
      "name": "Domains",
      "description": "Custom shortlink domain management"
    }
  ],
  "paths": {
    "/v1/links": {
      "get": {
        "operationId": "getV1Links",
        "tags": [
          "Links"
        ],
        "summary": "List short links",
        "description": "Paginated list of short links owned by the authenticated user. Uses Stripe-style cursor pagination (`starting_after` / `ending_before` / `limit`).",
        "responses": {
          "200": {
            "description": "List of links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "shortLink": {
                            "type": "string",
                            "format": "uri"
                          },
                          "domainId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "contentItemId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "clicks": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "isCustomSlug": {
                            "type": "boolean"
                          },
                          "appendTrackingParam": {
                            "type": "boolean"
                          },
                          "ogTitle": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ogDescription": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ogImage": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastClickedAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          }
                        },
                        "required": [
                          "key",
                          "url",
                          "shortLink",
                          "domainId",
                          "contentItemId",
                          "clicks",
                          "isCustomSlug",
                          "appendTrackingParam",
                          "ogTitle",
                          "ogDescription",
                          "ogImage",
                          "lastClickedAt",
                          "createdAt"
                        ]
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postV1Links",
        "tags": [
          "Links"
        ],
        "summary": "Create a short link",
        "description": "Creates a new short link. Returns existing link (200) if same url + contentItemId + domain already exists (dedup). Returns 201 for new links.",
        "responses": {
          "200": {
            "description": "Existing link returned (dedup)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "shortLink": {
                      "type": "string",
                      "format": "uri"
                    },
                    "domainId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "contentItemId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clicks": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "isCustomSlug": {
                      "type": "boolean"
                    },
                    "appendTrackingParam": {
                      "type": "boolean"
                    },
                    "ogTitle": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogDescription": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogImage": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastClickedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "key",
                    "url",
                    "shortLink",
                    "domainId",
                    "contentItemId",
                    "clicks",
                    "isCustomSlug",
                    "appendTrackingParam",
                    "ogTitle",
                    "ogDescription",
                    "ogImage",
                    "lastClickedAt",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Link created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "shortLink": {
                      "type": "string",
                      "format": "uri"
                    },
                    "domainId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "contentItemId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clicks": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "isCustomSlug": {
                      "type": "boolean"
                    },
                    "appendTrackingParam": {
                      "type": "boolean"
                    },
                    "ogTitle": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogDescription": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogImage": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastClickedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "key",
                    "url",
                    "shortLink",
                    "domainId",
                    "contentItemId",
                    "clicks",
                    "isCustomSlug",
                    "appendTrackingParam",
                    "ogTitle",
                    "ogDescription",
                    "ogImage",
                    "lastClickedAt",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Domain or content item not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Slug already in use",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{domainId}/{key}": {
      "get": {
        "operationId": "getV1LinksByDomainIdByKey",
        "tags": [
          "Links"
        ],
        "summary": "Retrieve a short link",
        "description": "Get a single short link by its composite primary key (domainId + key).",
        "responses": {
          "200": {
            "description": "Link details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "shortLink": {
                      "type": "string",
                      "format": "uri"
                    },
                    "domainId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "contentItemId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clicks": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "isCustomSlug": {
                      "type": "boolean"
                    },
                    "appendTrackingParam": {
                      "type": "boolean"
                    },
                    "ogTitle": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogDescription": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogImage": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastClickedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "key",
                    "url",
                    "shortLink",
                    "domainId",
                    "contentItemId",
                    "clicks",
                    "isCustomSlug",
                    "appendTrackingParam",
                    "ogTitle",
                    "ogDescription",
                    "ogImage",
                    "lastClickedAt",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "key",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "patchV1LinksByDomainIdByKey",
        "tags": [
          "Links"
        ],
        "summary": "Update a short link",
        "description": "Partial update of a short link. Supports changing destination URL, slug, OG fields, and/or the append-tracking-param flag. At least one field required.",
        "responses": {
          "200": {
            "description": "Updated link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "shortLink": {
                      "type": "string",
                      "format": "uri"
                    },
                    "domainId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "contentItemId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clicks": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "isCustomSlug": {
                      "type": "boolean"
                    },
                    "appendTrackingParam": {
                      "type": "boolean"
                    },
                    "ogTitle": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogDescription": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogImage": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastClickedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "key",
                    "url",
                    "shortLink",
                    "domainId",
                    "contentItemId",
                    "clicks",
                    "isCustomSlug",
                    "appendTrackingParam",
                    "ogTitle",
                    "ogDescription",
                    "ogImage",
                    "lastClickedAt",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Slug already in use",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "key",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteV1LinksByDomainIdByKey",
        "tags": [
          "Links"
        ],
        "summary": "Delete a short link",
        "description": "Delete a short link and invalidate its KV cache. Returns the deleted link for confirmation.",
        "responses": {
          "200": {
            "description": "Deleted link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "shortLink": {
                      "type": "string",
                      "format": "uri"
                    },
                    "domainId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "contentItemId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "clicks": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "isCustomSlug": {
                      "type": "boolean"
                    },
                    "appendTrackingParam": {
                      "type": "boolean"
                    },
                    "ogTitle": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogDescription": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ogImage": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastClickedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "key",
                    "url",
                    "shortLink",
                    "domainId",
                    "contentItemId",
                    "clicks",
                    "isCustomSlug",
                    "appendTrackingParam",
                    "ogTitle",
                    "ogDescription",
                    "ogImage",
                    "lastClickedAt",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "key",
            "required": true
          }
        ]
      }
    },
    "/v1/links/{domainId}/{key}/clicks": {
      "get": {
        "operationId": "getV1LinksByDomainIdByKeyClicks",
        "tags": [
          "Analytics"
        ],
        "summary": "Get click count for a link",
        "description": "Returns click count with preset periods (`all`/`24h`/`7d`/`30d`/`90d`) or a custom ISO 8601 date range. `period=all` uses the O(1) denormalized counter.",
        "responses": {
          "200": {
            "description": "Click count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clicks": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "period": {
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "clicks"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "domainId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "key",
            "required": true
          }
        ]
      }
    },
    "/v1/domains": {
      "get": {
        "operationId": "getV1Domains",
        "tags": [
          "Domains"
        ],
        "summary": "List shortlink domains",
        "description": "Returns all shortlink domains available to the authenticated user, including the default `trakyo.link` domain. Each domain includes its link count.",
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "defaultRedirectUrl": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uri"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "linkCount": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          }
                        },
                        "required": [
                          "id",
                          "hostname",
                          "isDefault",
                          "defaultRedirectUrl",
                          "linkCount",
                          "createdAt"
                        ]
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "bad_request",
                            "unauthorized",
                            "forbidden",
                            "not_found",
                            "conflict",
                            "unprocessable_entity",
                            "rate_limit_exceeded",
                            "internal_server_error"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "param": {
                          "type": "string"
                        },
                        "details": {
                          "type": "array",
                          "items": {}
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "doc_url",
                        "request_id"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}